<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Academic Menu -->
    <menuitem
        id="academic_root_menu"
        name="Academic"
        sequence="2"/>

    <menuitem
        id="school_students_menu"
        name="Students"
        parent="academic_root_menu"
        action="students_action"
        sequence="1"/>

    <menuitem
        id="school_teachers_menu"
        name="Teachers"
        parent="academic_root_menu"
        action="teachers_action"
        sequence="2"/>

    <menuitem id="student_attendance_menu" name="Student Attendance" 
    parent="academic_root_menu" sequence="3"/>

    <menuitem id="mark_student_attendance_menu" name="Mark Attendance" 
    parent="student_attendance_menu" sequence="1" action="student_attendance_action"/>
    <!-- Academic Setup Menu -->
    <menuitem
        id="academic_setup_root_menu"
        name="Academic Setup"
        sequence="1"/>

    <!-- Classes Menu -->
   
    <menuitem id="classes_menu" name="Class"
    parent="academic_setup_root_menu" sequence="1"/>

    <menuitem id="schedule_type_menu" name="Schedule Type" action="class_schedule_type_action" parent="classes_menu" sequence="1"/>

    <menuitem id="sub_classes_menu" name="Classes" action="classes_view_action" parent="classes_menu" sequence="2"/>

    

    <menuitem id="class_schedule_menu" name="Class Schedule" action="class_schedule_action" parent="classes_menu" sequence="3"/>

    <!-- Exam Management Menu -->
    <menuitem
            id="exam_main_menu"
            name="Exam Management"
            parent="academic_setup_root_menu"
            sequence="2"/>
    <menuitem id="exam_menu" name="Exam" action="school_exam_action" parent="exam_main_menu" sequence="1"/>

    <!-- Majors Menu -->
    <menuitem
        id="school_majors_menu"
        name="Majors"
        parent="academic_setup_root_menu"
        action="majors_action"
        sequence="4"/>
    <!-- Subjects Menu -->
    <menuitem
        id="school_subjects_menu"
        name="Subjects"
        parent="academic_setup_root_menu"
        action="subjects_view_action"
        sequence="3"/>
</odoo>
